language: node_js
node_js:
- 7.6.0
- 7.8.0
script:
- npm test
- git clone https://github.com/derberg/arghun-perftest-sampledata.git
- SAMPLE_PATH='arghun-perftest-sampledata/sampleData' npm run sample
